.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol,
ul {
  padding-left: 30px;
  font-size: 18px;
}
li {
  height: 30px;
}
li > button {
  font-size: 16px;
  width: 150px;
}

.game {
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameInfo {
  margin-left: 20px;
}

.gameBoard {
  color: #fff;
}

.status {
  width: 260px;
  margin-bottom: 15px;
  color: cadetblue;
  font-size: 24px;
}
